<footer>
	<p><a href="http://my.csdn.net/fanyiwei123456" target="_blank">iVey</a>@2013</p>
</footer>	
</body>
<script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</html>